# Practice9 - pandas

In [1]:
import numpy as np

In [3]:
import pandas as pd

In [6]:
# help(pd.Series)

In [7]:
myindex = ['USA','Canada','Mexico']

In [8]:
mydata = [1776,1867,1821]

In [23]:
myser = pd.Series(mydata,myindex)
# myser = pd.Series(data=mydata,index=myindex)

In [24]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [25]:
type(myser)

pandas.core.series.Series

In [26]:
myser[0]

1776

In [22]:
myser['USA']

1776

In [29]:
ages = {'Sam':5,'Frank':10,'Spike':7}

In [30]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

### part two

In [31]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [32]:
sales_q1 = pd.Series(q1)

In [33]:
sales_q2 = pd.Series(q2)

In [34]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [35]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [36]:
sales_q1['Japan']

80

In [39]:
# [1,2] * 2
# np.array([1,2]) * 2
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [41]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [42]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [43]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [45]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [46]:
sales_q1.dtype

dtype('int64')

In [50]:
first_half = sales_q1.add(sales_q2,fill_value=0)

In [52]:
first_half.dtype

dtype('float64')